/**/node_modules

/frontend/build
/frontend/.eslintcache

/backend/src/routes.ts
/backend/build
/backend/*.log
/backend/*.log.gz
/backend/application.log
/backend/*-audit.json
/backend/coverage
/backend/.nyc_output
/backend/.last_import.txt

/docker/elasticsearch/data/nodes
/docker/.env.prod

.bash_*
.bashrc
