.age-pyramid {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: [women]1fr [labels]auto [men]1fr;
  grid-template-rows: [headers]auto auto;
  row-gap: 0.5em;

  .bar {
    display: flex;
    align-items: center;
    height: $viz-bar-height;
  }
  .value-label {
    font-size: 0.8rem;
    padding: 0.2rem 0.4rem;
    line-height: $viz-bar-height;
  }

  .women-column {
    grid-column: women/labels;
    .bar {
      background-color: $viz-color-candidates;
    }
  }
  .labels-column {
    grid-column: labels/men;
    text-align: center;
    font-size: 1rem;
    padding: 0 0.5rem 0 0.5rem;
    .sub-label {
      font-size: 0.8rem;
      font-style: italic;
      line-height: 70%;
    }
  }
  .men-column {
    grid-column: men/auto;
    .bar {
      background-color: $viz-color-candidates-secondary;
    }
  }
  .headers {
    grid-row: headers/auto;
    font-weight: bold;
    font-size: 1.4rem;
  }
  .separator {
    grid-column: women/end;
  }
  .totals {
    .bar {
      background-color: white;
    }
    &.women-column {
      .bar {
        border: $viz-color-candidates solid 2px;
      }
    }

    &.men-column {
      .bar {
        border: $viz-color-candidates-secondary solid 2px;
      }
    }
  }
}
