.cartography-legend {
  display: flex;
  height: 20px;
  width: 100px;
  div {
    width: 1px;
    background-color: $viz-color-profession-foi;
  }
}
#cartography {
  path {
    fill: $viz-color-profession-foi;
  }
  path.disabled {
    fill: white;
  }
}
