@import "~@fortawesome/fontawesome-free/css/all.css";

body {
  font-family: Arial, sans-serif;
}

#dashboard-timeline,
.age-pyramid,
.barchart {
  a {
    color: #444;
    label {
      cursor: pointer;
    }
  }
}
