.about {
  display: flex;
  justify-content: center;
  background-image: url("../assets/about_background.jpg");
  background-size: cover;
  > div {
    padding: 3em;
    border-radius: 5px;
    color: white;
    background-color: $primary;
    margin: auto;
    max-width: 50%;
    p {
      font-size: 1.5em;
    }
    .btn {
      background-color: white;
      color: $primary;
      border-color: $secondary;
      font-weight: 600;
      margin-right: 0.5em;
    }
  }
}
