footer {
  // position: absolute;
  // bottom: 0;
  width: 100vw;
  height: $footer_height;
  line-height: $footer_height;
  box-sizing: content-box;
  border-top: 2px solid $secondary;
  a {
    padding-right: 1em;
  }
}
header .navbar {
  width: 100%;
  height: $header-height;
  border-bottom: 3px solid $primary;
  justify-content: space-between;

  .navbar-navigation {
    //text-transform: uppercase;
    font-size: 2em;
    @media (max-height: 500px), (max-width: 400px) {
      font-size: 1em;
    }
    font-weight: 600;
    span:not(:first-child)::before {
      content: " ⋅ ";
      color: $primary;
    }
  }

  .logo {
    margin-right: 0.2em;
    height: 24px;
    vertical-align: baseline;
    @media (max-height: 500px), (max-width: 400px) {
      height: 12px;
    }
  }
}
#app-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main {
  flex-grow: 1;
  overflow: hidden;
}
.full-height {
  // TODO: remove - 6 px when debugged profession iframe height
  height: calc(100vh - #{$header-height} - #{$footer_height});
}
.highlight {
  color: $highlight;
  font-style: italic;
}
.panel-header {
  font-size: 1.75em;
  position: sticky;
  @media (max-height: 500px), (max-width: 400px) {
    position: relative;
  }
  z-index: 1;
  background-color: white;
  padding: 0.5em 0.5em 0.5em 0;
  top: 0;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
