#dashboard-timeline {
  flex-wrap: nowrap;
  height: 150px;
  // set width to 0 to use flex grow set the width entirely and not on top of native width
  > div {
    width: 0px;
  }

  .value-label {
    height: 15%;
    font-size: 0.8rem;
  }
  .year-label {
    height: 10%;
  }
  .value-bar {
    * {
      margin-right: 1px;
      min-width: 3px;
    }

    :last-child {
      margin-right: 0;
    }
  }

  .selected {
    .value-label,
    .year-label {
      font-weight: 600;
    }
    .value-bar {
      border-bottom: 3px black solid;
    }
  }
}
.tour-1 {
  background-color: $viz-color-profession-foi;
}
.tour-2 {
  background-color: $viz-color-profession-foi-secondary;
}
