.barchart {
  > div {
    margin-bottom: 0.3em;
  }
  :last-child {
    margin-bottom: 0;
  }
  label {
    margin-bottom: 0;
  }
  .bar-container {
    display: flex;
    justify-content: start;
    align-items: center;
    grid-column: bars / labels;
    height: $viz-bar-height;
    .bar {
      background-color: $viz-color-candidates;
      height: 100%;
      display: flex;
      justify-content: end;
      align-items: center;
    }
  }

  .value-label {
    font-size: 0.9rem;
    padding: 0.2rem 0.4rem;
    line-height: $viz-bar-height;
  }
}
.bar {
  background-color: $viz-color-candidates;
}

.occupation {
  .bar {
    background-color: $viz-color-occupation !important;
  }
}

.politic {
  .bar {
    background-color: $viz-color-politic !important;
  }
}

.candidates {
  .bar {
    background-color: $viz-color-candidates !important;
  }
}

.professions-fois {
  .bar {
    background-color: $viz-color-profession-foi;
  }
}
