$primary: #e6142d;
$secondary: #e6142da2;
$highlight: #7c7b7b;
$header-height: 80px;
$footer_height: 40px;
$font-family-base: arial;
// VIZ
$viz-color-profession-foi: rgb(228, 75, 20);
$viz-color-profession-foi-secondary: adjust-color($viz-color-profession-foi, $lightness: 30%);
$viz-color-candidates: #2795b9;
$viz-color-candidates-secondary: adjust-color($viz-color-candidates, $lightness: 30%);
$viz-bar-height: 20px;
